/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@font-face {
	font-family: 'Conv_FaktPro-Bold';
	src: url('../fonts/FaktPro-Bold.eot');
	src: local('☺'), url('../fonts/FaktPro-Bold.woff') format('woff'), url('../fonts/FaktPro-Bold.ttf') format('truetype'), url('../fonts/FaktPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_FaktPro-Blond';
	src: url('../fonts/FaktPro-Blond.eot');
	src: local('☺'), url('../fonts/FaktPro-Blond.woff') format('woff'), url('../fonts/FaktPro-Blond.ttf') format('truetype'), url('../fonts/FaktPro-Blond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Conv_FaktPro-Blond';
}

.clear{
	clear: both;
}
.white{
	background: rgba(255, 255, 255, 0.5);
	 -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

#modal1{
	.modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
      .modal-content {    
	      height: 100%;
	      border-radius: 0;
	      color:white;
	      overflow:auto;
	      .modal-header{
	      	border: none;
      	    padding: 50px 0;
	      	.modal-header-left{
	      		.logo{
	      			float: right;
	      			img{
	      				width: 200px;
	      			}
	      		}
	      		.logo2{
	      			float: left;
	      			img{
	      				width: 200px;
	      			}
	      		}
	      	}
	      	.modal-header-right{
	      		.txt{
	      			float: left;
	      			color: #000;
				    text-transform: uppercase;
				    font-size: 20px;
			        padding-left: 15%;
	      		}
	      		.next-txt{
	      			float: right;
	      			color: #cbc8b9;
	      			margin-right: 75px;
	      		}
	      		.close{
	      			font-size: 50px;
	      			margin-top: -33px;
	      		}
	      	}
	      }
	      .modal-body{
	      	.form-step-book{
	      		input[type=radio]{
				  position: absolute;
				  visibility: hidden;
				}
				.titlex{
					font-size: 18px;
	      			color: #231f20;
	      			text-transform: uppercase;
				}
	      		label{
	      			color: #231f20;
	      			.check{
					  display: block;
					  position: absolute;
					  border: 1px solid #e68c82;
					  border-radius: 100%;
					  height: 15px;
					  width: 15px;
					  top: 0;
					  left: 0;
						z-index: 5;
						transition: border .25s linear;
						-webkit-transition: border .25s linear;
					}

					.check::before {
					  display: block;
					  position: absolute;
						content: '';
					  border-radius: 100%;
					  height: 9px;
					  width: 9px;
					  top: 2px;
						left: 2px;
					  margin: auto;
						transition: background 0.25s linear;
						-webkit-transition: background 0.25s linear;
					}

					input[type=radio]:checked ~ .check {
					  border: 1px solid #e68c82;
					}

					input[type=radio]:checked ~ .check::before{
					  background: #e68c82;
					}

					input[type=radio]:checked ~ label{
					  color: #e68c82;
					}
	      		}
	      	}
	      	.modal-left-col{
	      		.imgs{
	      			img{
		      			object-fit:cover;
		      			height: 550px;
		      			width: 50%;
		      			@media screen and (max-width: 991px) {
		      				width: 100%;
		      				height: 100%;
		      			}
		      		}
	      		}
	      		.logo2{
					height: 300px;
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (max-width: 991px) {
						height: 100px;
					}
	      		}
	      	}
	      	.modal-right-col{
	      		color: #231f20;
	      		.form-right{
	      			.question{
	      				margin-bottom: 20px;
	      				line-height: 30px;
	      			}
	      			textarea{
	      				width: 100%;
	      			}						
	      			button{
	      				margin-top: 25px;
						display: inline-block;
						border-radius: 25px;
						border: 1px solid #e68e84;
						color: #e68e84;
						text-transform: uppercase;
					    padding: 5px 50px;
					    line-height: 20px;
					    box-shadow: 3px 2px 15px -6px #000;
					    &:hover{
					    	background: #e68e84;
					    	color: #fff;
					    }
					}
	      		}
	      		.form-login{
      			    border-left: 1px solid #e2e3e3;
      			    padding: 0 25%;
      			    @media screen and (max-width: 991px) {
      			    	padding: 0;
      			    	border: none;
      			    }
	      			.text{
	      				color: #6c6365;
	      				margin-bottom: 20px;
	      			}
	      			.forgot{
	      				text-align: center;
	      				a{
	      					display: inline-block;
	      					text-decoration: none;
	      					color: #6c6365;
							&:hover{
								color: #e68c82;
							}
	      				}
	      			}
	      			.after-forgot{
	      				margin: 20px 0;
	      				ul{
	      					padding: 0;
	      					margin: 0;
	      					text-align: center;
	      					li{
	      						list-style: none;
	      						display: inline-block;
	      						margin: 0 20px;
	      						a{
	      							text-decoration: none;
	      							color: #6c6365;
	      							&:hover{
	      								color: #e68c82;
	      							}
	      						}
	      						.pink{
	      							color: #e68c82;
	      						}
	      					}
	      				}
	      			}
	      			form{
	      				margin-bottom: 30px;
	      				input{
	      					border: 1px solid #6c6365;
	      					border-radius: 15px;
	      				}
	      				.center{
	      					text-align: center;
	      					button{
		      					display: inline-block;
		      					border-radius: 15px;
		      					background: #e68c82;
		      					border: none;
		      					text-transform: uppercase;
		      					color: #fff;
		      					width: 100%;
		      					outline: none;
	      					    box-shadow: 0px 7px 15px -7px #000;
		      				}
	      				}

	      			}
	      		}
	      		.content-right{
					position: absolute;
					right: 5%;
					top: 0;
					width: 40%;
					@media screen and (max-width: 991px) {
						width: 100%;
						position: inherit;
					}
					.thx-column{
						padding: 0 50px;
						.txt-confirm{
							text-transform: uppercase;
							display: inline-block;
							border-bottom: 1px solid #f4f4f5;
							padding-bottom: 5px;
							font-size: 18px;
							margin-bottom: 20px;
						}
						.btx{
							margin-top: 25px;
							display: inline-block;
							border-radius: 25px;
							border: 1px solid #e68e84;
							color: #e68e84;
							text-transform: uppercase;
							padding: 5px 50px;
							line-height: 20px;
							box-shadow: 3px 2px 15px -6px #000;
						}
						.title{
							font-size: 40px;
						}
						.sub-title{
							text-transform: uppercase;
							color: #ece7e7;
							font-size: 25px;
    						margin: 30px 0;
						}
						.desc{
							margin: 20px 0;
							color: #9b9da0;
						}
						.emails{
							margin: 10px 0 20px;
							font-size: 18px;
							a{
								display: inline-block;
								color: #231f20;
								text-decoration: none;
							}
						}
						.resend{
							color: #ece7e7;
							margin-top: 30px;
							.txt{
								font-size: 16px;
							}
							.btn{
								display: inline-block;
								padding: 0;
								margin-top: 20px;								
							    a{
							    	text-decoration: none;
							    	color: #ece7e7;
							    	border-radius: 25px;
									border: 1px solid #ece7e7;								
									text-transform: uppercase;
								    padding: 10px 20px;
								    line-height: 20px;
							    	&:hover{
								    	background: #ece7e7;
								    	color: #fff;
								    }
							    }							    
							}
						}
					}
					.form-regist{
					    padding: 0 50px;
					    .book-text{
					    	text-transform: uppercase;
					    	font-size: 28px;
					    	margin-bottom: 20px;
					    }
						form{
							label{
								color: #ece7e7;
								text-transform: capitalize;
							}
							.date{
								height: 33px;
							}
							select{
								border-top: none;
								border-left: none;
								border-right: none;
								box-shadow: none;
								padding: 0;
							}
							input{
								border-top: none;
								border-left: none;
								border-right: none;
								box-shadow: none;
								padding: 0;
							}
							.btn-next{
								margin-top: 50px;
								button{
									display: inline-block;
									border-radius: 25px;
									border: 1px solid #e68e84;
									color: #e68e84;
									text-transform: uppercase;
								    padding: 5px 20px;
								    line-height: 20px;
								    box-shadow: 3px 2px 15px -6px #000;
								    &:hover{
								    	background: #e68e84;
								    	color: #fff;
								    }
								}
							}
							.btn-signup{
								margin-top: 50px;
								text-align: center;
								button{
									display: inline-block;
									border-radius: 25px;
									border: 1px solid #e68e84;
									color: #e68e84;
									text-transform: uppercase;
								    padding: 5px 20px;
								    line-height: 20px;
								    box-shadow: 3px 2px 15px -6px #000;
								    &:hover{
								    	background: #e68e84;
								    	color: #fff;
								    }
								}
							}
						}
						.text-bottom{
							margin-top: 40px;
							.col{
								font-size: 12px;
								text-align: center;
								text-decoration: underline;
								color: #cbcbcb;
							}
						}
					}
	      		}
	      	}
	      }
	    }
    }
    
}

#wrapper{
	#top-page{
		position: relative;
		#header{
			position: fixed;
			z-index: 9;
			left: 0;
			right: 0;
			top: 0;
		    padding-top: 20px;
		    height: 100px;
			.desktop{
				.header-left{
					
				}
				.header-right{
					.menus{
						ul{
							padding: 0;
							margin: 0;
							li{
								list-style: none;
								float: left;
								text-transform: uppercase;
								font-size: 16px;
								margin-right: 20px;
								&:last-child{
									margin-right: 0;
								}
								a{
									color: #fff;
									text-decoration: none;
								}
								.submenu{
									display: none;
									position: absolute;
									background: #fff;
									padding: 20px 5px;
									ul{
										padding: 0;
										margin: 0;
										li{
											margin-right: 0;
											font-size: 14px;
											float: none;
											position: relative;
											padding: 10px;
											text-transform: uppercase;
											&:hover{
												&:before{
													width: 90%;
												}
											}
											&:before{
							                  position: absolute;
							                  left: 10px;
							                  bottom: 0;
							                  content: '';
							                  width: 10%;
							                  height: 2px;
							                  background-color: #000;
							                  -webkit-transition: width 1s;
							                  -moz-transition: width 1s;
							                  -o-transition: width 1s;
							                  transition: width 1s;
							                }
											a{
												color: #000;
											}
										}
									}
								}
								&:hover{
									.submenu{
										display: block;
									}
								}
							}
						}
					}
					.book-btn{
						text-align: center;
						a{
							font-family: 'Conv_FaktPro-Blond';
							display: inline-block;
							border: 1px solid #e68e82;
							border-radius: 25px;
							padding: 2px 20px;
    						font-size: 13px;
							text-decoration: none; 
							text-transform: uppercase;
							background: #e68e82;
							color: #fff;
							span{
								float: right;
	    						margin-left: 10px;
							}
						}
					}
				}
			}
			.mobile{
				.navbar{
					border: none;
				    background: rgba(255, 255, 255, 0.4);
				    .navbar-header{
				    	.logos{
				    		float: left;
				    		a{
				    			display: inline-block;
				    			img{
				    				width: 200px;
				    				padding: 10px;
				    			}
				    		}
				    	}
				    	button{
				    		background: none;
				    		border: none;
				    		span{
				    			background: #000;
				    		}
				    	}
				    }
				    #navbar{
				    	background: none;
				    	li{
				    		a{
				    			color: #fff !important;
				    			&:hover{
				    				background-color: rgba(255, 255, 255, 0.32) !important;
				    			}
				    		}
				    	}
				    }
				}
			}
		}
	}
	.bg-wrapper{
		position: relative;
		.img{
			img{
				object-fit:cover;
				height: 712px;
				width: 100%;
			}
			.overlay{
				background: rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}
		.text-column2{
			position: absolute;
			top: 30%;
			left: 0;
			right: 0;
			color: #fff;
			.col-left{
				width: 50%;
				float: left;
				@media screen and (max-width: 991px) {
					float: none;
					width: 100%;
				}
				.title{
					font-size: 45px;
					text-transform: uppercase;
					@media screen and (max-width: 991px) {
						font-size: 25px;
					}
				}
			}
			.col-right{
				width: 24%;
				float: right;
				@media screen and (max-width: 991px) {
					float: none;
					width: 100%;
				}
				.title{
					font-size: 35px;
					text-transform: capitalize;
					font-family: 'Conv_FaktPro-Bold';
					@media screen and (max-width: 991px) {
						font-size: 25px;
					}
				}
				.desc{
					p{
						margin-bottom: 20px;
					}
				}
			}
		}
		.text-column{
			position: absolute;
			top: 40%;
			left: 0;
			right: 0;
			text-align: center;
			color: #fff;
			font-family: 'Conv_FaktPro-Blond';
			.title{
				text-transform: uppercase;
				font-size: 45px;
				@media screen and (max-width: 991px) {
					font-size: 30px;
				}
			}
			.short-desc{
			    width: 800px;
    			margin: auto;
				font-size: 20px;
				@media screen and (max-width: 991px) {
					width: 100%;
				}
			}
		}
	}
	#top-slide{
		position: relative;
		.overlay{
			position: absolute;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}
		#header{
			position: fixed;
			z-index: 9;
			left: 0;
			right: 0;
			top: 0;
		    padding-top: 20px;
		    height: 100px;
			.desktop{
				.header-left{
					
				}
				.header-right{
					.menus{
						ul{
							padding: 0;
							margin: 0;
							li{
								list-style: none;
								float: left;
								text-transform: uppercase;
								font-size: 16px;
								margin-right: 20px;
								&:last-child{
									margin-right: 0;
								}
								a{
									color: #fff;
									text-decoration: none;
								}
								.submenu{
									display: none;
									position: absolute;
									background: #fff;
									padding: 20px 5px;
									ul{
										padding: 0;
										margin: 0;
										li{
											margin-right: 0;
											font-size: 14px;
											float: none;
											position: relative;
											padding: 10px;
											text-transform: uppercase;
											&:hover{
												&:before{
													width: 90%;
												}
											}
											&:before{
							                  position: absolute;
							                  left: 10px;
							                  bottom: 0;
							                  content: '';
							                  width: 10%;
							                  height: 2px;
							                  background-color: #000;
							                  -webkit-transition: width 1s;
							                  -moz-transition: width 1s;
							                  -o-transition: width 1s;
							                  transition: width 1s;
							                }
											a{
												color: #000;
											}
										}
									}
								}
								&:hover{
									.submenu{
										display: block;
									}
								}
							}
						}
					}
					.book-btn{
						text-align: center;
						a{
							display: inline-block;
							border: 1px solid #e68e82;
							border-radius: 25px;
							padding: 2px 20px;
    						font-size: 13px;
							color: #fff;
							text-decoration: none; 
							text-transform: uppercase;
							font-family: 'Conv_FaktPro-Blond';
							background: #e68e82;
							span{
								float: right;
	    						margin-left: 10px;
							}
						}
					}
				}
			}
			.mobile{
				.navbar{
					border: none;
				    background: rgba(255, 255, 255, 0.4);
				    .navbar-header{
				    	.logos{
				    		float: left;
				    		a{
				    			display: inline-block;
				    			img{
				    				width: 200px;
				    				padding: 10px;
				    			}
				    		}
				    	}
				    	button{
				    		background: none;
				    		border: none;
				    		span{
				    			background: #000;
				    		}
				    	}
				    }
				    #navbar{
				    	background: none;
				    	li{
				    		a{
				    			color: #fff !important;
				    			&:hover{
				    				background-color: rgba(255, 255, 255, 0.32) !important;
				    			}
				    		}
				    	}
				    }
				}
			}
		}
		.slider-bg-wrapper{
			.slider-bg{
				.slick-dots{
					position: absolute;
					top: 40%;
					z-index: 9;
					left: 0;
					@media screen and (max-width: 991px) {
						display: none !important;
					}
					@media screen and (min-width: 1600px) {
						left: 15%;
					}
					li{
						background: url(../img/dots.png) no-repeat;
						text-indent: -9999px;
						border: none;
						padding: 20px;
						cursor: pointer;
						opacity: 0.5;
						margin-bottom: 20px;
					}
					.slick-active{
						background: url(../img/dots-act.png) no-repeat;
						text-indent: -9999px;
						border: none;
						padding: 20px;
						opacity: 1;
					}
				}
				.imgs{
					img{
						object-fit:cover;
						width: 100%;
						height: 712px;
					}
					.overlay{
						background: rgba(0, 0, 0, 0.2);
					    position: absolute;
					    top: 0;
					    height: 100%;
					    width: 100%;
					}
					.text{
						position: absolute;
						left: 5%;
						top: 40%;
						z-index: 9;
						color: #fff;
						font-size: 40px;
						text-transform: uppercase;
						width: 400px;
						@media screen and (max-width: 991px) {
							width: 100%;
						}
						@media screen and (min-width: 1600px) {
							left: auto;
						}
						.see{
							font-size: 14px;
							border-top: 1px solid #fff;
							margin-top: 20px;
							padding-top: 20px;
							display: inline-block;
							a{
								color: #fff;
								text-decoration: none;
								span{
									margin-left: 20px;
									display: inline-block;
									width: 30px;
									height: 30px;
									line-height: 30px;
									border-radius: 50%;
									border: 1px solid;
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
	#top-slide2{
		position: relative;
		z-index: 1;
		#header{
			position: fixed;
			z-index: 9;
			left: 0;
			right: 0;
			top: 0;
		    padding-top: 20px;
		    height: 100px;
			.desktop{
				.header-left{
					
				}
				.header-right{
					.menus{
						ul{
							padding: 0;
							margin: 0;
							li{
								list-style: none;
								float: left;
								text-transform: uppercase;
								font-size: 16px;
								margin-right: 20px;
								&:last-child{
									margin-right: 0;
								}
								a{
									color: #000;
									text-decoration: none;
								}
								.submenu{
									display: none;
									position: absolute;
									background: #fff;
									padding: 20px 5px;
									ul{
										padding: 0;
										margin: 0;
										li{
											margin-right: 0;
											font-size: 14px;
											float: none;
											position: relative;
											padding: 10px;
											text-transform: uppercase;
											&:hover{
												&:before{
													width: 90%;
												}
											}
											&:before{
							                  position: absolute;
							                  left: 10px;
							                  bottom: 0;
							                  content: '';
							                  width: 10%;
							                  height: 2px;
							                  background-color: #000;
							                  -webkit-transition: width 1s;
							                  -moz-transition: width 1s;
							                  -o-transition: width 1s;
							                  transition: width 1s;
							                }
											a{
												color: #000;
											}
										}
									}
								}
								&:hover{
									.submenu{
										display: block;
									}
								}
							}
						}
					}
					.book-btn{
						text-align: center;
						a{
							display: inline-block;
							border: 1px solid #e68e82;
							border-radius: 25px;
							padding: 2px 20px;
    						font-size: 13px;
							color: #fff;
							text-decoration: none; 
							text-transform: uppercase;
							font-family: 'Conv_FaktPro-Blond';
							background: #e68e82;
							span{
								float: right;
	    						margin-left: 10px;
							}
						}
					}
				}
			}
			.mobile{
				.navbar{
					border: none;
				    background: rgba(255, 255, 255, 0.4);
				    .navbar-header{
				    	.logos{
				    		float: left;
				    		a{
				    			display: inline-block;
				    			img{
				    				width: 200px;
				    				padding: 10px;
				    			}
				    		}
				    	}
				    	button{
				    		background: none;
				    		border: none;
				    		span{
				    			background: #000;
				    		}
				    	}
				    }
				    #navbar{
				    	background: #000;
				    	li{
				    		a{
				    			color: #fff !important;
				    			&:hover{
				    				background-color: rgba(255, 255, 255, 0.32) !important;
				    			}
				    		}
				    	}
				    }
				}
			}
		}
		.slider-bg-wrapper{
			.slick-dots{
				position: absolute;
				top: 60%;
				right: 18%;
				padding: 0;
				li{
					list-style: none;
					display: inline-block;
					margin: 0 5px;
					&:nth-child(2){
					button{
						background: #9ad8e6;
						}
					}
					&:nth-child(3){
						button{
							background: #c4b9b9;
						}
					}
					button{
						text-indent: -9999px;
						border: none;
						background: #036474;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						outline: none;
					}
				}
				
				.slick-active{
					border: 1px solid #e8958c;
					border-radius: 50%;
					button{
						margin: 2px;
					}
				}
			}
			.slider-bg{
				.imgs{
					img{
						object-fit:cover;
						width: 100%;
						height: 712px;
					}
					.col-text{
						width: 400px;
						@media screen and (max-width: 991px) {
							width: 100%;
						}
						.text{
							position: absolute;
							right: 5%;
							top: 40%;
							z-index: 9;
							color: #000;
							font-size: 30px;
							text-transform: uppercase;
							font-family: 'Conv_FaktPro-Bold';
							@media screen and (max-width: 991px) {
								width: 100%;
								right: 0;
								padding: 10px;
								text-align: center;
								line-height: 30px;
							}
						}
						.subtext{
							position: absolute;
							right: 5%;
							top: 50%;
							z-index: 9;
							color: #000;
							font-size: 18px;
							text-transform: uppercase;
							text-align: center;
							width: 400px;
							@media screen and (max-width: 991px) {
								width: 100%;
								right: 0;
								padding: 10px;
							}
						}
						.border{
							width: 270px;
							margin: 0 auto;
							position: absolute;
							height: 1px;
							top: 58%;
							right: 10%;
							background: #000;
						}
					}					
				}
			}
		}
	}
	#content-wrapper{
		.our-approach-wrapper{
			padding: 50px 0;
			.approach-columns{
				position: relative;
				.img{
					position: relative;
					img{
						object-fit:cover;
						width: 100%;
						height: 572px;
					}
				}
				.text-column{
					z-index: 1;
					position: absolute;
					right: 0;
					background: #fff;
					top: 25%;
					width: 50%;
					padding: 100px;
					@media screen and (max-width: 991px) {
						width: 100%;
						position: inherit;
						padding: 20px 0;
					}
					.title{
						font-size: 35px;
						line-height: 35px;
						font-family: 'Conv_FaktPro-Bold';
						span{
							font-family: 'Conv_FaktPro-Blond';
							display: block;
						}
					}
					.desc{
						margin: 50px 0;
						@media screen and (max-width: 991px) {
							margin: 20px 0;
						}
					}
				}
				.shadow{
					position: absolute;
				    right: 0;
    				bottom: -140px;
				}
			}
		}
		.our-philosophy-wrapper{
			.our-philosophy{
				text-align: center;
				text-align: center;
				margin: 100px;
				border-top: 1px solid #000;
				border-bottom: 1px solid #dfddd3;
				padding: 50px 10px;
				@media screen and (max-width: 991px) {
					margin: 0 0 20px;
				}
				.title{					
					font-size: 35px;
					line-height: 35px;
					font-family: 'Conv_FaktPro-Bold';
				}
				.desc{
					margin: 35px 0;
					font-size: 20px;
					@media screen and (max-width: 991px) {
						font-size: 14px;
					}
				}
				.btn{
					display: inline-block;
					a{
						color: #d6d2bd;
						border: 1px solid #d6d2bd;
						padding: 8px 20px;
						text-decoration: none;
						outline: none;
						text-transform: uppercase;
						border-radius: 25px;
						&:hover{
							background: #d6d2bd;
							color: #fff;
						}
					}
				}
			}
		}
		.gallery-philosophy{
			padding: 100px 0;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f8+0,ffffff+49,ffffff+52,ffffff+100 */
			background: #f7f7f8; /* Old browsers */
			background: -moz-linear-gradient(top, #f7f7f8 0%, #ffffff 49%, #ffffff 52%, #ffffff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #f7f7f8 0%,#ffffff 49%,#ffffff 52%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 49%,#ffffff 52%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			.gallery-column{
				.gallery-blocks{
					position: relative;
					text-align: center;
					height: 100%;
					a{
						position: relative;
						z-index: 1;
						display: block;
						text-decoration: none;
						@media screen and (max-width: 991px) {
							margin-bottom: 50px;
						}
						.img{
							img{
								width: 100%;
								height: 270px;
								object-fit:cover;
							}							
						}
						.title{
							color: #000;
							text-transform: uppercase;
						    padding: 20px;
    						background: #fff;
    						text-align: left;
						    border-radius: 10px;
						    .border{
						    	display: block;
						    }
						}
					}
					.shadow{
						position: absolute;
						top: -30px;
						right: 0;
						left: 0;
						img{
							width: 100%;
							object-fit: cover;
							height: 433px;
						}
					}
				}
			}
		}
		.about-section{
		    margin-bottom: 100px;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 44%, #ffffff 44%, #ffffff 44%, #f8f8fa 45%, #f8f8fa 80%, #f8f8fa 80%, #f8f8fa 85%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 44%,#ffffff 44%,#ffffff 44%,#f8f8fa 45%,#f8f8fa 80%,#f8f8fa 80%,#f8f8fa 85%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#ffffff 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#ffffff 90%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #ffffff 0%,#ffffff 44%,#ffffff 44%,#ffffff 44%,#f8f8fa 45%,#f8f8fa 80%,#f8f8fa 80%,#f8f8fa 85%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#ffffff 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#f8f8fa 90%,#ffffff 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			.about-column{
				position: relative;
				padding: 100px 0;
				.img{
					position: relative;
					img{
						object-fit:cover;
						height: 590px;
					}
					.overlay{
						background: rgba(0, 0, 0, 0.2);
					    position: absolute;
					    top: 0;
					    height: 100%;
					    width: 100%;
					}
				}
				.text{
					position: absolute;
					top: 40%;
					left: 0;
					right: 0;
					margin: auto;
					text-align: center;
					.click{
					    position: relative;
    					z-index: 9;
						display: inline-block;
						img{
							width: 100px;
						}
					}
					.col-text-wrap{
						position: relative;
    					color: #fff;
    					margin-top: -100px;
    					@media screen and (max-width: 991px) {
    						margin-top: 0;
    					}
    					.col-text{
    						z-index: 9;
    						position: absolute;
    						display: inline-block;
						    text-align: left;
						    left: 58%;
					        width: 350px;
					        @media screen and (max-width: 991px) {
					        	width: 100%;
					        	left: 0;
					        	padding: 10px;
					        }
    						.title{
	    						text-transform: uppercase;
	    						font-size: 40px;
	    						@media screen and (max-width: 991px) {
	    							font-size: 20px;
	    						}
	    						span{
	    							font-family: 'Conv_FaktPro-Bold';
	    							display: block;
	    						}
	    					}
	    					.desc{
	    						font-size: 16px;
	    						@media screen and (max-width: 991px) {
	    							font-size: 14px;
	    						}
	    					}
	    					.more{
	    						text-transform: uppercase;
	    						margin-top: 20px;
	    						a{
	    							display: inline-block;
	    							color: #fff;
	    							padding: 5px 20px;
	    							border: 1px solid #fff;
	    							border-radius: 25px;
	    							text-decoration: none;
	    							&:hover{
	    								background: #fff;
	    								color: #000;
	    							}
	    						}
	    					}
    					}    					
					}
				}
			}
			.border-gap{
				background: #cbc9bc;
				text-align: center;
				width: 80%;
				height: 2px;
				margin: 0 auto;
				.border{
					display: inline-block;
				}
			}
			.about-column-two{
				margin-bottom: 50px;
				.title{
					text-align: center;
					text-transform: uppercase;
					color: #cbc9bc;
					font-size: 40px;
					padding: 80px 0 20px;
				}
				.desc{
					text-align: center;
					margin-bottom: 100px;
					font-size: 16px;
				}
				a{
					display: inline-block;
					&:hover{
						.hover-col{
							display: block !important;
						}
					}
				}
				.column-products-wrapper{
					position: relative;
					.img{
						position: relative;
						img{
							object-fit:cover;
							height: 445px;
						}
						.hover-col{
							display: none;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							height: 95%;
							width: 100%;
							background: rgba(255, 255, 255, 0.8);
							color: #545456;
							overflow: hidden;
							.hover-col-col{
								display: flex;
								align-items: left;
								justify-content: center;
								height: 150%;
								flex-direction: column;
								padding: 0 30px;
								width: 80%;
								.titlex{
									text-transform: uppercase;
									font-size: 25px;
									line-height: 25px;
									margin-bottom: 20px;
									font-family: 'Conv_FaktPro-Bold';
								}
								.desc{
									color: #545456;
									font-size: 16px;
									display: flex;
									text-align: left;
									align-items: center;
									justify-content: center;
									margin-bottom: 30px;
								}
								.border{
									border: 1px solid #545456;
									width: 50%;
								}
							}							
						}
					}
					
				}
			}
		}
		.experience-section{
			position: relative;
			.overlay{
				background: rgba(255, 255, 255, 0.8);
			    position: absolute;
			    top: 0;
			    height: 100%;
			    width: 100%;
			}
			.bg-img{
				img{
					object-fit:cover;
					height: 575px;
					width: 100%;
				}
			}
			.text-column{
				position: absolute;
				top: 20%;
				left: 0;
				right: 0;
				z-index: 1;
				color: #545456;
				text-align: center;
				.title{
					font-size: 40px;
					text-transform: uppercase;
					font-family: 'Conv_FaktPro-Bold';
					margin-bottom: 50px;
				}
				.desc{
					font-size: 16px;
					width: 60%;
					margin:auto;
				}
				.arrow-bottom{
					height: 200px;
					display: flex;
					flex-direction: column;
					@media screen and (max-width: 991px) {
						height: 50px;
					}
					.bottom{
					    margin-top: auto;
					    i{
					    	font-size: 20px;
						    height: 30px;
						    width: 30px;
						    border: 1px solid #545456;
						    border-radius: 50%;
						    line-height: 30px;
					    }
					}
				}
			}
		}
		.experience-column{
			.column-one{
				position: relative;
				overflow: hidden;
				.img-left{
					img{
						object-fit:cover;
						height: 600px;
						width: 65%;
					}
				}
				.column-box-wrapper{
				    position: absolute;
				    right: 0;
				    top: 30%;
				    width: 50%;
				    background: rgba(255, 255, 255, 0.99);
				    padding: 100px;
				    height: 100%;
				    @media screen and (max-width: 991px) {
				    	padding: 30px;
				    }
				    .column-box{
				    	.step{
				    		text-transform: capitalize;
			    		    font-size: 17px;
    						width: 63%;
    						margin-bottom: 20px;
    						@media screen and (max-width: 991px) {
    							width: 100%;
    						}    						
				    		span{
				    			font-family: 'Conv_FaktPro-Bold';
				    			display: block;
				    		}
				    	}
				    	.desc{
				    		width: 65%;
    						@media screen and (max-width: 991px) {
    							width: 100%;
    						}
				    		.more{
							    display: flex;
							    flex-direction: column;
							    height: 50px;
							    width: 50%;
							    text-align: center;
							    text-transform: uppercase;
							    @media screen and (max-width: 991px) {
							    	width: 100%;
							    	font-size: 12px;
							    }
							    a{
							    	margin-top: auto;
							    	display: inline-block;
							    	padding: 5px 20px;
							    	border: 1px solid #d7d2be;
							    	color: #d7d2be;
							    	text-decoration: none;
							    	border-radius: 25px;
							    	&:hover{
							    		color: #fff;
							    		background: #d7d2be;
							    	}
							    }
				    		}
				    	}
				    }
				}
			}
			.column-two{
				position: relative;
				overflow: hidden;
				padding: 50px 0;
				.img-right{
					img{
						object-fit:cover;
						height: 600px;
						width: 60%;
						float: right;
					}
				}
				.column-box-wrapper{
				    position: absolute;
				    left: 15%;
				    top: 30%;
				    width: 50%;
				    background: rgba(255, 255, 255, 0.99);
				    padding: 100px;
				    height: 100%;
				    @media screen and (max-width: 991px) {
				    	padding: 25px 0;
				    }
				    .column-box{
				    	.step{
				    		text-transform: capitalize;
			    		    font-size: 17px;
    						width: 63%;
    						margin-bottom: 20px;
    						@media screen and (max-width: 991px) {
    							width: 100%;
    						}
				    		span{
				    			font-family: 'Conv_FaktPro-Bold';
				    			display: block;
				    		}
				    	}
				    	.desc{
				    		width: 65%;
				    		.more{
							    display: flex;
							    flex-direction: column;
							    height: 50px;
							    width: 50%;
							    text-align: center;
							    text-transform: uppercase;
							    @media screen and (max-width: 991px) {
							    	width: 100%;
							    	font-size: 12px;
							    }
							    a{
							    	margin-top: auto;
							    	display: inline-block;
							    	padding: 5px 20px;
							    	border: 1px solid #d7d2be;
							    	color: #d7d2be;
							    	text-decoration: none;
							    	border-radius: 25px;
							    	&:hover{
							    		color: #fff;
							    		background: #d7d2be;
							    	}
							    }
				    		}
				    	}
				    }
				}
			}
		}
		.collections-column-wrapper{
			padding: 50px 0;
			.collections-row{
				margin-bottom: 30px;
				overflow: hidden;
				.collections-left{
					a{
						color: #fff;
						text-decoration: none;
						display: block;
						@media screen and (max-width: 991px) {
							margin-bottom: 20px;
						}
						&:hover{
							.overlay{
								background: rgba(0, 0, 0, 0.5) !important;
							}
						}
						.img{
							position: relative;
							img{
								object-fit:cover;
								height: 355px;
								width: 100%;
							}							
							.overlay{
								background: rgba(0, 0, 0, 0.2);
								position: absolute;
								top: 0;
								height: 100%;
								width: 100%;
								-webkit-transition: .3s ease-in-out;
                				transition: .3s ease-in-out;
							}
						}
						.text-column{
						    position: absolute;
						    top: 0;
						    display: flex;
						    left: 50px;
						    align-items: left;
						    justify-content: center;
						    height: 100%;
						    flex-direction: column;
						    .border{
						    	background: #fff;
						    	width: 20%;
					    	    margin-top: 30px;
						    	height: 1px;
						    }
						    .title{
						    	font-size: 30px;
						    	text-transform: uppercase;
						    	font-family: 'Conv_FaktPro-Bold';
						    	width: 60%;
						    	line-height: 35px;
						    }
						    .subtitle{
						    	font-family: 'Conv_FaktPro-Blond';
						    	text-transform: capitalize;
						    	font-size: 18px;
						    	margin-top: 20px;
						    }
						}
					}
				}
				.collections-right{
					a{
						color: #fff;
						text-decoration: none;
						display: block;
						&:hover{
							.overlay{
								background: rgba(0, 0, 0, 0.5) !important;
							}
						}
						.img{
							position: relative;
							img{
								object-fit:cover;
								height: 355px;
								width: 100%;
							}							
							.overlay{
								background: rgba(0, 0, 0, 0.2);
								position: absolute;
								top: 0;
								height: 100%;
								width: 100%;
								-webkit-transition: .3s ease-in-out;
                				transition: .3s ease-in-out;
							}
						}
						.text-column{
						    position: absolute;
						    top: 0;
						    display: flex;
						    left: 50px;
						    align-items: left;
						    justify-content: center;
						    height: 100%;
						    flex-direction: column;
						    .title{
						    	font-size: 30px;
						    	text-transform: uppercase;
						    	font-family: 'Conv_FaktPro-Bold';
						    	width: 60%;
						    	line-height: 35px;
						    }
						    .border{
						    	background: #fff;
						    	width: 20%;
					    	    margin-top: 30px;
						    	height: 1px;
						    }
						    .subtitle{
						    	font-family: 'Conv_FaktPro-Blond';
						    	text-transform: capitalize;
						    	font-size: 18px;
						    	margin-top: 20px;
						    }
						}
					}
				}
			}
		}
		.knob-wrapper{
			position: relative;
			.bg-img-slides{
				.bg-img{
					img{
						object-fit:cover;
						height: 810px;
						width: 100%;
					}
					.overlay{
						background: url(../img/overlay-knob.png) no-repeat right;
						height: 100%;
						position: absolute;
						width: 100%;
						top: 0;
					}
				}
			}
			.content-column-slider{
				position: absolute;
				top: 40%;
				width: 40%;
				right: 10%;
				color: #fff;
				@media screen and (max-width: 991px) {
					width: 100%;
					right: 0;
					padding:10px;
				}
				.content-column{	
				min-height: 400px;
				position: relative;				
					.title{
						text-transform: uppercase;
						font-size: 35px;
						font-family: 'Conv_FaktPro-Bold';
						line-height: 35px;
						margin-bottom: 20px;
					}
					.desc{
						font-size: 16px;
					    margin: 50px 0;
					}
					.author{
						position: absolute;
						bottom: 0;
						text-transform: uppercase;
						font-size: 18px;
					}
				}
				.prev{
					position: absolute;
					left: 0;
					top: 70%;
					font-size: 40px;
					cursor: pointer;
					z-index: 1;
					@media screen and (max-width: 991px) {
						top: 100%;
					}
				}
				.next{
					position: absolute;
					left: 10%;
					top: 70%;
					font-size: 40px;
					cursor: pointer;
					@media screen and (max-width: 991px) {
						top: 100%;
					}
				}
			}
			
		}
		.knob-wrapper2{
			position: relative;
			.bg-img-slides{
				.bg-img{
					img{
						object-fit:cover;
						height: 810px;
						width: 100%;
					}
					.overlay{
						background: url(../img/overlay-knob.png) no-repeat right;
						height: 100%;
						position: absolute;
						width: 100%;
						top: 0;
					}
				}
			}
			.content-column-slider{
				position: absolute;
				top: 40%;
				width: 26%;
				left: 10%;
				color: #fff;
				text-align: right;
				@media screen and (max-width: 991px) {
					width: 100%;
					padding: 10px;
					left: 0;
				}
				.content-column{
					min-height: 400px;
					position: relative;	
					.title{
						text-transform: uppercase;
						font-size: 35px;
						font-family: 'Conv_FaktPro-Bold';
						line-height: 35px;
						margin-bottom: 20px;
					}
					.desc{
						font-size: 16px;
					}
					.author{
						position: absolute;
						bottom: 0;
						text-transform: uppercase;
						font-size: 18px;
						right: 0;
					}
				}
				.prev{
					position: absolute;
					right: 10%;
					top: 70%;
					font-size: 40px;
					cursor: pointer;
					z-index: 1;
				}
				.next{
					position: absolute;
					right: 0%;
					top: 70%;
					font-size: 40px;
					cursor: pointer;
				}
			}			
		}
		.promise-wrapper{
			background: #fbfbfb;
			padding: 50px 0;
			.promise-column{
				position: relative;
				.promise-col-left{}
				.promise-col-right{
					.title{
						text-transform: uppercase;
						font-size: 35px;
						font-family: 'Conv_FaktPro-Bold';
					}
					.desc{
						margin: 20px 0;
						font-size: 16px;
					}
					.btn{
						text-transform: uppercase;
						a{
							display: inline-block;
							text-decoration: none;
							border: 1px solid #dcd8c6;
							padding: 5px 20px;
							border-radius: 25px;
							color: #000;
							&:hover{
								background: #dcd8c6;
								color: #fff;
							}
						}
					}
				}
			}
		}
		.kitchen-collections-column-wrapper{
			padding: 50px 0;
			.collections-text-column{
				padding: 50px 0 80px;
				.text-left{
					.title{
						font-size: 30px;
						text-transform: uppercase;
						font-family: 'Conv_FaktPro-Bold';
					}
				}
				.text-right{
					.desc{
						text-align: left;
					}
				}
			}
			.collections-row{
				margin-bottom: 30px;
				overflow: hidden;
				.collections-left{
					a{
						color: #fff;
						text-decoration: none;
						display: block;
						&:hover{
							.overlay{
								background: rgba(255, 255, 255, 0.5) !important;
							}
							.text-column{
								display: block;
							}
						}
						.img{
							position: relative;
							img{
								object-fit:cover;
								height: 355px;
								width: 100%;
							}							
							.overlay{
								background: rgba(0, 0, 0, 0.2);
								position: absolute;
								top: 0;
								height: 100%;
								width: 100%;
								-webkit-transition: .3s ease-in-out;
                				transition: .3s ease-in-out;
							}
						}
						.text-column{
							display: none;
						    position: absolute;
						    top: 0;
						    left: 0;
						    right: 0;
						    justify-content: center;
						    height: 100%;
						    .arrow{
								display: flex;
								justify-content: center;
								flex-direction: column;
								align-items: center;
								height: 100%;
						    }
						}
					}
				}
				.collections-right{
					a{
						color: #fff;
						text-decoration: none;
						display: block;
						&:hover{
							.overlay{
								background: rgba(255, 255, 255, 0.5) !important;
							}
							.text-column{
								display: block;
							}
						}
						.img{
							position: relative;
							img{
								object-fit:cover;
								height: 355px;
								width: 100%;
							}							
							.overlay{
								background: rgba(0, 0, 0, 0.2);
								position: absolute;
								top: 0;
								height: 100%;
								width: 100%;
								-webkit-transition: .3s ease-in-out;
                				transition: .3s ease-in-out;
							}
						}
						.text-column{
							display: none;						    
						    position: absolute;
						    top: 0;
						    left: 0;
						    right: 0;
						    justify-content: center;
						    height: 100%;
						    .arrow{
								display: flex;
								justify-content: center;
								flex-direction: column;
								align-items: center;
								height: 100%;
						    }
						}
					}
				}
			}
			.cabinet-wrapper{
				.cabinet-slider{
				    margin-top: 50px;
					.border{
						border-top: 1px solid #cbc8b9;
						height: 1px;
						width: 900px;
						margin: auto;
						padding: 30px;
						@media screen and (max-width: 991px) {
							width: 100%;
						}
					}
					.border2{
						border-top: 1px solid #cbc8b9;
						height: 1px;
						width: 900px;
						margin: auto;
						@media screen and (max-width: 991px) {
							width: 100%;
						}
					}
					.cabinet-block{
						margin-bottom: 50px;
						.cabinet-left{
							text-align: center;
							.img{
								display: inline-block;
								padding-left: 20%;
								@media screen and (max-width: 991px) {
									padding-left: 0;
								}
							}
						}
						.cabinet-right{
							.title{
								font-size: 30px;
								text-transform: uppercase;
								font-family: 'Conv_FaktPro-Bold';
							}
							.slide-list{
								ul{
									padding: 0;
									margin: 0;
									li{
										list-style: none;
										display: inline-block;
										margin: 20px 20px 20px 0;
										button{
											text-transform: uppercase;
											background: none;
											outline: none;
											background: #cbc8b9;
											border: 1px solid #cbc8b9;
											padding: 5px 20px;
											color: #fff;
											border-radius: 25px;
										}
										.slick-disabled{
											color: #000;
											background: none;
										}
									}
								}
							}
							.desc{
								padding-right: 10%;
								@media screen and (max-width: 991px) {
									padding-right: 0;
								}
							}
						}
					}
				}
			}
		}
		.innovation-wrapper{
			padding: 100px 0;
			background: #f7f7f8;
			.columns-blocks{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				height: 300px;

				.columns-left{
					.title{
						text-transform: uppercase;
						font-family: 'Conv_FaktPro-Bold';
						font-size: 35px;
						padding: 0 22%;
						@media screen and (max-width: 991px) {
							padding: 0;
						}
					}
				}
				.columns-right{
					.desc{
						font-size: 20px;
					}
				}
			}
		}
		.innovation-columns{
			position: relative;
			margin-top: -55px;
		    padding-bottom: 50px;
			.column-one{
				position: relative;
				overflow: hidden;
				.img-left{
					img{
						object-fit:cover;
					    height: 430px;
						width: 65%;
						@media screen and (max-width: 991px) {
							width: 100%;
						}
					}
				}
				.column-box-wrapper{
					position: absolute;
					right: 0;
					top: 30%;
					width: 50%;
					background: rgba(255, 255, 255, 0.99);
					padding: 100px;
					height: 100%;
					@media screen and (max-width: 991px) {
						position: inherit;
						width: 100%;
						padding:20px;
					}
					.title{
						font-size: 24px;
						font-family: 'Conv_FaktPro-Bold';
						text-transform: uppercase;
						margin-bottom: 20px;
					}
				}
			}
			.column-two{
				position: relative;
				overflow: hidden;
				padding: 20px 0;
				.img-right{
					img{
						object-fit:cover;
					    height: 430px;
						width: 65%;
						float: right;
						@media screen and (max-width: 991px) {
							width: 100%;
							float: none;
						}
					}
				}
				.column-box-wrapper{
					position: absolute;
					left: 0;
					top: 30%;
					width: 50%;
					background: rgba(255, 255, 255, 0.99);
					padding: 100px;
					height: 100%;
					@media screen and (max-width: 991px) {
						position: inherit;
						width: 100%;
						padding:20px;
					}
					.title{
						font-size: 24px;
						font-family: 'Conv_FaktPro-Bold';
						text-transform: uppercase;
						margin-bottom: 20px;
					}
				}
			}
		}
		.before-footer{
			position: relative;
			.bg-before-footer{
				img{
					object-fit:cover;
					height: 300px;
					width: 100%;
					@media screen and (max-width: 991px) {
						height: 400px;
					}
				}
			}
			.border-white{
				position: absolute;
			    left: 0;
			    right: 0;
			    bottom: 20px;
				.border{
					background: #fff;
					height: 1px;
					width: 100%;
				}
			}
			.text-column{
				position: absolute;
				top: 10%;
				right: 0;
				width: 50%;
				z-index: 1;
				color: #fff;
				overflow: hidden;
				@media screen and (max-width: 991px) {
					width: 93%;
				}
				.title{
					font-size: 40px;
					text-transform: uppercase;
					@media screen and (max-width: 991px) {
						font-size: 30px;
					}
				}
				.btn-book{
					a{
						display: inline-block;
					    border: 1px solid #e68e82;
					    border-radius: 25px;
					    padding: 5px 20px;
					    color: #e68e82;
					    text-decoration: none;
					    text-transform: uppercase;
					    &:hover{
							background: #e68e82;
							color: #000;
						}
						span{
							float: right;
    						margin-left: 10px;
						}
					}
				}
			}
		}
		#footer{
			background: #232323;
			color: #cac7b4;
			.footer-wrapper{
				padding: 50px 0;
				.footer-column-two{
					border-top: 1px solid #cac7b4;
					padding-top: 50px;
					margin-top: 50px;
					font-size: 14px;
				    margin-right: 15px;
    				margin-left: 15px;
					.footer-left{
						.text{
							span{
								display: block;
								text-transform: uppercase;
								margin-bottom: 20px;
							}
						}
					}
					.footer-right{
						.call-column{
							.call-column-block{
								margin-bottom: 10px;
								.col-left{
									float: left;
									width: 150px;
								}
								.cal-right{
									float: left;
								}
							}
						}
					}
				}
				.footer-column{
					.title{
						text-transform: uppercase;
						margin-bottom: 20px;
					}
					.form-subscriber{
					    margin: 45px 0 20px;
						#subscribe{
							position: relative;
							input{
								width: 100%;
								border-radius: 25px;
								padding: 5px 10px;
								border: none;
							}
							button{
								position: absolute;
								right: 10px;
								top: 5px;
								background: none;
								border: none;
							}
						}
					}
					.social-media-bottom{
						ul{
							padding: 0;
							margin: 0;
							text-align: center;
							li{
								list-style: none;
								display: inline-block;
							    font-size: 20px;
								margin: 10px 15px;
								a{
									color: #fff;
									text-decoration: none;
									&:hover{
									    color: #cac7b4;
									}
								}
							}
						}
					}
					.menu-list{
						ul{
							padding: 0;
							margin: 0;
							li{
								list-style: none;
								text-transform: capitalize;
								margin-bottom: 10px;
								a{
									color: #cac7b4;
									text-decoration: none;
									&:hover{
										color: #fff;
									}
								}
							}
						}
					}
					.second{
						.title{
							margin-top: 40px;
							margin-bottom: 10px;
						}
					}
				}
			}
			.footer-bottom{
				background: #2b2b2b;
				padding: 20px 0;
				.footer-bottom-menus{
					ul{
						padding: 0;
						margin: 0;
						text-align: center;
						li{
							list-style: none;
							display: inline-block;
							color: #fff;
							margin-right: 50px;
							@media screen and (max-width: 991px) {
								margin-right: 10px;
							}
							a{
								text-decoration: none;
								color: #fff;
								&:hover{
									color: #cac7b4;
								}
							}
						}
					}
				}
			}
		}
	}
}