@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'Conv_FaktPro-Bold';
  src: url("../fonts/FaktPro-Bold.eot");
  src: local("☺"), url("../fonts/FaktPro-Bold.woff") format("woff"), url("../fonts/FaktPro-Bold.ttf") format("truetype"), url("../fonts/FaktPro-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_FaktPro-Blond';
  src: url("../fonts/FaktPro-Blond.eot");
  src: local("☺"), url("../fonts/FaktPro-Blond.woff") format("woff"), url("../fonts/FaktPro-Blond.ttf") format("truetype"), url("../fonts/FaktPro-Blond.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 20, ../sass/print.scss */
body {
  font-family: 'Conv_FaktPro-Blond';
}

/* line 24, ../sass/print.scss */
.clear {
  clear: both;
}

/* line 27, ../sass/print.scss */
.white {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

/* line 36, ../sass/print.scss */
#modal1 .modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* line 41, ../sass/print.scss */
#modal1 .modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
  color: white;
  overflow: auto;
}
/* line 46, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header {
  border: none;
  padding: 50px 0;
}
/* line 50, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-left .logo {
  float: right;
}
/* line 52, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-left .logo img {
  width: 200px;
}
/* line 56, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-left .logo2 {
  float: left;
}
/* line 58, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-left .logo2 img {
  width: 200px;
}
/* line 64, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-right .txt {
  float: left;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 15%;
}
/* line 71, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-right .next-txt {
  float: right;
  color: #cbc8b9;
  margin-right: 75px;
}
/* line 76, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-header .modal-header-right .close {
  font-size: 50px;
  margin-top: -33px;
}
/* line 84, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book input[type=radio] {
  position: absolute;
  visibility: hidden;
}
/* line 88, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book .titlex {
  font-size: 18px;
  color: #231f20;
  text-transform: uppercase;
}
/* line 93, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book label {
  color: #231f20;
}
/* line 95, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book label .check {
  display: block;
  position: absolute;
  border: 1px solid #e68c82;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 0;
  left: 0;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
/* line 109, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book label .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 9px;
  width: 9px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
/* line 123, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book label input[type=radio]:checked ~ .check {
  border: 1px solid #e68c82;
}
/* line 127, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book label input[type=radio]:checked ~ .check::before {
  background: #e68c82;
}
/* line 131, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .form-step-book label input[type=radio]:checked ~ label {
  color: #e68c82;
}
/* line 138, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-left-col .imgs img {
  object-fit: cover;
  height: 550px;
  width: 50%;
}
@media screen and (max-width: 991px) {
  /* line 138, ../sass/print.scss */
  #modal1 .modal-dialog .modal-content .modal-body .modal-left-col .imgs img {
    width: 100%;
    height: 100%;
  }
}
/* line 148, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-left-col .logo2 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 991px) {
  /* line 148, ../sass/print.scss */
  #modal1 .modal-dialog .modal-content .modal-body .modal-left-col .logo2 {
    height: 100px;
  }
}
/* line 158, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col {
  color: #231f20;
}
/* line 161, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-right .question {
  margin-bottom: 20px;
  line-height: 30px;
}
/* line 165, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-right textarea {
  width: 100%;
}
/* line 168, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-right button {
  margin-top: 25px;
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #e68e84;
  color: #e68e84;
  text-transform: uppercase;
  padding: 5px 50px;
  line-height: 20px;
  box-shadow: 3px 2px 15px -6px #000;
}
/* line 178, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-right button:hover {
  background: #e68e84;
  color: #fff;
}
/* line 184, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login {
  border-left: 1px solid #e2e3e3;
  padding: 0 25%;
}
@media screen and (max-width: 991px) {
  /* line 184, ../sass/print.scss */
  #modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login {
    padding: 0;
    border: none;
  }
}
/* line 191, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .text {
  color: #6c6365;
  margin-bottom: 20px;
}
/* line 195, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .forgot {
  text-align: center;
}
/* line 197, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .forgot a {
  display: inline-block;
  text-decoration: none;
  color: #6c6365;
}
/* line 201, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .forgot a:hover {
  color: #e68c82;
}
/* line 206, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .after-forgot {
  margin: 20px 0;
}
/* line 208, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .after-forgot ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 212, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .after-forgot ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
/* line 216, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .after-forgot ul li a {
  text-decoration: none;
  color: #6c6365;
}
/* line 219, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .after-forgot ul li a:hover {
  color: #e68c82;
}
/* line 223, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login .after-forgot ul li .pink {
  color: #e68c82;
}
/* line 229, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login form {
  margin-bottom: 30px;
}
/* line 231, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login form input {
  border: 1px solid #6c6365;
  border-radius: 15px;
}
/* line 235, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login form .center {
  text-align: center;
}
/* line 237, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .form-login form .center button {
  display: inline-block;
  border-radius: 15px;
  background: #e68c82;
  border: none;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  outline: none;
  box-shadow: 0px 7px 15px -7px #000;
}
/* line 252, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right {
  position: absolute;
  right: 5%;
  top: 0;
  width: 40%;
}
@media screen and (max-width: 991px) {
  /* line 252, ../sass/print.scss */
  #modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right {
    width: 100%;
    position: inherit;
  }
}
/* line 261, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column {
  padding: 0 50px;
}
/* line 263, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .txt-confirm {
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #f4f4f5;
  padding-bottom: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 271, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .btx {
  margin-top: 25px;
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #e68e84;
  color: #e68e84;
  text-transform: uppercase;
  padding: 5px 50px;
  line-height: 20px;
  box-shadow: 3px 2px 15px -6px #000;
}
/* line 282, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .title {
  font-size: 40px;
}
/* line 285, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .sub-title {
  text-transform: uppercase;
  color: #ece7e7;
  font-size: 25px;
  margin: 30px 0;
}
/* line 291, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .desc {
  margin: 20px 0;
  color: #9b9da0;
}
/* line 295, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .emails {
  margin: 10px 0 20px;
  font-size: 18px;
}
/* line 298, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .emails a {
  display: inline-block;
  color: #231f20;
  text-decoration: none;
}
/* line 304, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .resend {
  color: #ece7e7;
  margin-top: 30px;
}
/* line 307, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .resend .txt {
  font-size: 16px;
}
/* line 310, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .resend .btn {
  display: inline-block;
  padding: 0;
  margin-top: 20px;
}
/* line 314, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .resend .btn a {
  text-decoration: none;
  color: #ece7e7;
  border-radius: 25px;
  border: 1px solid #ece7e7;
  text-transform: uppercase;
  padding: 10px 20px;
  line-height: 20px;
}
/* line 322, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .thx-column .resend .btn a:hover {
  background: #ece7e7;
  color: #fff;
}
/* line 330, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist {
  padding: 0 50px;
}
/* line 332, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist .book-text {
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 20px;
}
/* line 338, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form label {
  color: #ece7e7;
  text-transform: capitalize;
}
/* line 342, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .date {
  height: 33px;
}
/* line 345, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form select {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  padding: 0;
}
/* line 352, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form input {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  padding: 0;
}
/* line 359, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .btn-next {
  margin-top: 50px;
}
/* line 361, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .btn-next button {
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #e68e84;
  color: #e68e84;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 20px;
  box-shadow: 3px 2px 15px -6px #000;
}
/* line 370, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .btn-next button:hover {
  background: #e68e84;
  color: #fff;
}
/* line 376, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .btn-signup {
  margin-top: 50px;
  text-align: center;
}
/* line 379, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .btn-signup button {
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #e68e84;
  color: #e68e84;
  text-transform: uppercase;
  padding: 5px 20px;
  line-height: 20px;
  box-shadow: 3px 2px 15px -6px #000;
}
/* line 388, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist form .btn-signup button:hover {
  background: #e68e84;
  color: #fff;
}
/* line 395, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist .text-bottom {
  margin-top: 40px;
}
/* line 397, ../sass/print.scss */
#modal1 .modal-dialog .modal-content .modal-body .modal-right-col .content-right .form-regist .text-bottom .col {
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
  color: #cbcbcb;
}

/* line 414, ../sass/print.scss */
#wrapper #top-page {
  position: relative;
}
/* line 416, ../sass/print.scss */
#wrapper #top-page #header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 20px;
  height: 100px;
}
/* line 430, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul {
  padding: 0;
  margin: 0;
}
/* line 433, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 20px;
}
/* line 439, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li:last-child {
  margin-right: 0;
}
/* line 442, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 446, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li .submenu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 20px 5px;
}
/* line 451, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li .submenu ul {
  padding: 0;
  margin: 0;
}
/* line 454, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li .submenu ul li {
  margin-right: 0;
  font-size: 14px;
  float: none;
  position: relative;
  padding: 10px;
  text-transform: uppercase;
}
/* line 462, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li .submenu ul li:hover:before {
  width: 90%;
}
/* line 466, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li .submenu ul li:before {
  position: absolute;
  left: 10px;
  bottom: 0;
  content: '';
  width: 10%;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
/* line 479, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li .submenu ul li a {
  color: #000;
}
/* line 486, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .menus ul li:hover .submenu {
  display: block;
}
/* line 493, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .book-btn {
  text-align: center;
}
/* line 495, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .book-btn a {
  font-family: 'Conv_FaktPro-Blond';
  display: inline-block;
  border: 1px solid #e68e82;
  border-radius: 25px;
  padding: 2px 20px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  background: #e68e82;
  color: #fff;
}
/* line 506, ../sass/print.scss */
#wrapper #top-page #header .desktop .header-right .book-btn a span {
  float: right;
  margin-left: 10px;
}
/* line 515, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar {
  border: none;
  background: rgba(255, 255, 255, 0.4);
}
/* line 519, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar .navbar-header .logos {
  float: left;
}
/* line 521, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar .navbar-header .logos a {
  display: inline-block;
}
/* line 523, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar .navbar-header .logos a img {
  width: 200px;
  padding: 10px;
}
/* line 529, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar .navbar-header button {
  background: none;
  border: none;
}
/* line 532, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar .navbar-header button span {
  background: #000;
}
/* line 537, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar #navbar {
  background: none;
}
/* line 540, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar #navbar li a {
  color: #fff !important;
}
/* line 542, ../sass/print.scss */
#wrapper #top-page #header .mobile .navbar #navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.32) !important;
}
/* line 552, ../sass/print.scss */
#wrapper .bg-wrapper {
  position: relative;
}
/* line 555, ../sass/print.scss */
#wrapper .bg-wrapper .img img {
  object-fit: cover;
  height: 712px;
  width: 100%;
}
/* line 560, ../sass/print.scss */
#wrapper .bg-wrapper .img .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 568, ../sass/print.scss */
#wrapper .bg-wrapper .text-column2 {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #fff;
}
/* line 574, ../sass/print.scss */
#wrapper .bg-wrapper .text-column2 .col-left {
  width: 50%;
  float: left;
}
@media screen and (max-width: 991px) {
  /* line 574, ../sass/print.scss */
  #wrapper .bg-wrapper .text-column2 .col-left {
    float: none;
    width: 100%;
  }
}
/* line 581, ../sass/print.scss */
#wrapper .bg-wrapper .text-column2 .col-left .title {
  font-size: 45px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  /* line 581, ../sass/print.scss */
  #wrapper .bg-wrapper .text-column2 .col-left .title {
    font-size: 25px;
  }
}
/* line 589, ../sass/print.scss */
#wrapper .bg-wrapper .text-column2 .col-right {
  width: 24%;
  float: right;
}
@media screen and (max-width: 991px) {
  /* line 589, ../sass/print.scss */
  #wrapper .bg-wrapper .text-column2 .col-right {
    float: none;
    width: 100%;
  }
}
/* line 596, ../sass/print.scss */
#wrapper .bg-wrapper .text-column2 .col-right .title {
  font-size: 35px;
  text-transform: capitalize;
  font-family: 'Conv_FaktPro-Bold';
}
@media screen and (max-width: 991px) {
  /* line 596, ../sass/print.scss */
  #wrapper .bg-wrapper .text-column2 .col-right .title {
    font-size: 25px;
  }
}
/* line 605, ../sass/print.scss */
#wrapper .bg-wrapper .text-column2 .col-right .desc p {
  margin-bottom: 20px;
}
/* line 611, ../sass/print.scss */
#wrapper .bg-wrapper .text-column {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-family: 'Conv_FaktPro-Blond';
}
/* line 619, ../sass/print.scss */
#wrapper .bg-wrapper .text-column .title {
  text-transform: uppercase;
  font-size: 45px;
}
@media screen and (max-width: 991px) {
  /* line 619, ../sass/print.scss */
  #wrapper .bg-wrapper .text-column .title {
    font-size: 30px;
  }
}
/* line 626, ../sass/print.scss */
#wrapper .bg-wrapper .text-column .short-desc {
  width: 800px;
  margin: auto;
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  /* line 626, ../sass/print.scss */
  #wrapper .bg-wrapper .text-column .short-desc {
    width: 100%;
  }
}
/* line 636, ../sass/print.scss */
#wrapper #top-slide {
  position: relative;
}
/* line 638, ../sass/print.scss */
#wrapper #top-slide .overlay {
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 647, ../sass/print.scss */
#wrapper #top-slide #header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 20px;
  height: 100px;
}
/* line 661, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul {
  padding: 0;
  margin: 0;
}
/* line 664, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 20px;
}
/* line 670, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li:last-child {
  margin-right: 0;
}
/* line 673, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 677, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li .submenu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 20px 5px;
}
/* line 682, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li .submenu ul {
  padding: 0;
  margin: 0;
}
/* line 685, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li .submenu ul li {
  margin-right: 0;
  font-size: 14px;
  float: none;
  position: relative;
  padding: 10px;
  text-transform: uppercase;
}
/* line 693, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li .submenu ul li:hover:before {
  width: 90%;
}
/* line 697, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li .submenu ul li:before {
  position: absolute;
  left: 10px;
  bottom: 0;
  content: '';
  width: 10%;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
/* line 710, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li .submenu ul li a {
  color: #000;
}
/* line 717, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .menus ul li:hover .submenu {
  display: block;
}
/* line 724, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .book-btn {
  text-align: center;
}
/* line 726, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .book-btn a {
  display: inline-block;
  border: 1px solid #e68e82;
  border-radius: 25px;
  padding: 2px 20px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Blond';
  background: #e68e82;
}
/* line 737, ../sass/print.scss */
#wrapper #top-slide #header .desktop .header-right .book-btn a span {
  float: right;
  margin-left: 10px;
}
/* line 746, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar {
  border: none;
  background: rgba(255, 255, 255, 0.4);
}
/* line 750, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar .navbar-header .logos {
  float: left;
}
/* line 752, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar .navbar-header .logos a {
  display: inline-block;
}
/* line 754, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar .navbar-header .logos a img {
  width: 200px;
  padding: 10px;
}
/* line 760, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar .navbar-header button {
  background: none;
  border: none;
}
/* line 763, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar .navbar-header button span {
  background: #000;
}
/* line 768, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar #navbar {
  background: none;
}
/* line 771, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar #navbar li a {
  color: #fff !important;
}
/* line 773, ../sass/print.scss */
#wrapper #top-slide #header .mobile .navbar #navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.32) !important;
}
/* line 784, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .slick-dots {
  position: absolute;
  top: 40%;
  z-index: 9;
  left: 0;
}
@media screen and (max-width: 991px) {
  /* line 784, ../sass/print.scss */
  #wrapper #top-slide .slider-bg-wrapper .slider-bg .slick-dots {
    display: none !important;
  }
}
@media screen and (min-width: 1600px) {
  /* line 784, ../sass/print.scss */
  #wrapper #top-slide .slider-bg-wrapper .slider-bg .slick-dots {
    left: 15%;
  }
}
/* line 795, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .slick-dots li {
  background: url(../img/dots.png) no-repeat;
  text-indent: -9999px;
  border: none;
  padding: 20px;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 20px;
}
/* line 804, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .slick-dots .slick-active {
  background: url(../img/dots-act.png) no-repeat;
  text-indent: -9999px;
  border: none;
  padding: 20px;
  opacity: 1;
}
/* line 813, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs img {
  object-fit: cover;
  width: 100%;
  height: 712px;
}
/* line 818, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 825, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .text {
  position: absolute;
  left: 5%;
  top: 40%;
  z-index: 9;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  width: 400px;
}
@media screen and (max-width: 991px) {
  /* line 825, ../sass/print.scss */
  #wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .text {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  /* line 825, ../sass/print.scss */
  #wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .text {
    left: auto;
  }
}
/* line 840, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .text .see {
  font-size: 14px;
  border-top: 1px solid #fff;
  margin-top: 20px;
  padding-top: 20px;
  display: inline-block;
}
/* line 846, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .text .see a {
  color: #fff;
  text-decoration: none;
}
/* line 849, ../sass/print.scss */
#wrapper #top-slide .slider-bg-wrapper .slider-bg .imgs .text .see a span {
  margin-left: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid;
  text-align: center;
}
/* line 866, ../sass/print.scss */
#wrapper #top-slide2 {
  position: relative;
  z-index: 1;
}
/* line 869, ../sass/print.scss */
#wrapper #top-slide2 #header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 20px;
  height: 100px;
}
/* line 883, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul {
  padding: 0;
  margin: 0;
}
/* line 886, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li {
  list-style: none;
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 20px;
}
/* line 892, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li:last-child {
  margin-right: 0;
}
/* line 895, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li a {
  color: #000;
  text-decoration: none;
}
/* line 899, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li .submenu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 20px 5px;
}
/* line 904, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li .submenu ul {
  padding: 0;
  margin: 0;
}
/* line 907, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li .submenu ul li {
  margin-right: 0;
  font-size: 14px;
  float: none;
  position: relative;
  padding: 10px;
  text-transform: uppercase;
}
/* line 915, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li .submenu ul li:hover:before {
  width: 90%;
}
/* line 919, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li .submenu ul li:before {
  position: absolute;
  left: 10px;
  bottom: 0;
  content: '';
  width: 10%;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
/* line 932, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li .submenu ul li a {
  color: #000;
}
/* line 939, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .menus ul li:hover .submenu {
  display: block;
}
/* line 946, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .book-btn {
  text-align: center;
}
/* line 948, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .book-btn a {
  display: inline-block;
  border: 1px solid #e68e82;
  border-radius: 25px;
  padding: 2px 20px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Blond';
  background: #e68e82;
}
/* line 959, ../sass/print.scss */
#wrapper #top-slide2 #header .desktop .header-right .book-btn a span {
  float: right;
  margin-left: 10px;
}
/* line 968, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar {
  border: none;
  background: rgba(255, 255, 255, 0.4);
}
/* line 972, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar .navbar-header .logos {
  float: left;
}
/* line 974, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar .navbar-header .logos a {
  display: inline-block;
}
/* line 976, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar .navbar-header .logos a img {
  width: 200px;
  padding: 10px;
}
/* line 982, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar .navbar-header button {
  background: none;
  border: none;
}
/* line 985, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar .navbar-header button span {
  background: #000;
}
/* line 990, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar #navbar {
  background: #000;
}
/* line 993, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar #navbar li a {
  color: #fff !important;
}
/* line 995, ../sass/print.scss */
#wrapper #top-slide2 #header .mobile .navbar #navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.32) !important;
}
/* line 1005, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots {
  position: absolute;
  top: 60%;
  right: 18%;
  padding: 0;
}
/* line 1010, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
/* line 1015, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots li:nth-child(2) button {
  background: #9ad8e6;
}
/* line 1020, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots li:nth-child(3) button {
  background: #c4b9b9;
}
/* line 1024, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots li button {
  text-indent: -9999px;
  border: none;
  background: #036474;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
}
/* line 1035, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots .slick-active {
  border: 1px solid #e8958c;
  border-radius: 50%;
}
/* line 1038, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slick-dots .slick-active button {
  margin: 2px;
}
/* line 1045, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs img {
  object-fit: cover;
  width: 100%;
  height: 712px;
}
/* line 1050, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text {
  width: 400px;
}
@media screen and (max-width: 991px) {
  /* line 1050, ../sass/print.scss */
  #wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text {
    width: 100%;
  }
}
/* line 1055, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text .text {
  position: absolute;
  right: 5%;
  top: 40%;
  z-index: 9;
  color: #000;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
}
@media screen and (max-width: 991px) {
  /* line 1055, ../sass/print.scss */
  #wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text .text {
    width: 100%;
    right: 0;
    padding: 10px;
    text-align: center;
    line-height: 30px;
  }
}
/* line 1072, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text .subtext {
  position: absolute;
  right: 5%;
  top: 50%;
  z-index: 9;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  width: 400px;
}
@media screen and (max-width: 991px) {
  /* line 1072, ../sass/print.scss */
  #wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text .subtext {
    width: 100%;
    right: 0;
    padding: 10px;
  }
}
/* line 1088, ../sass/print.scss */
#wrapper #top-slide2 .slider-bg-wrapper .slider-bg .imgs .col-text .border {
  width: 270px;
  margin: 0 auto;
  position: absolute;
  height: 1px;
  top: 58%;
  right: 10%;
  background: #000;
}
/* line 1103, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper {
  padding: 50px 0;
}
/* line 1105, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns {
  position: relative;
}
/* line 1107, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .img {
  position: relative;
}
/* line 1109, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .img img {
  object-fit: cover;
  width: 100%;
  height: 572px;
}
/* line 1115, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .text-column {
  z-index: 1;
  position: absolute;
  right: 0;
  background: #fff;
  top: 25%;
  width: 50%;
  padding: 100px;
}
@media screen and (max-width: 991px) {
  /* line 1115, ../sass/print.scss */
  #wrapper #content-wrapper .our-approach-wrapper .approach-columns .text-column {
    width: 100%;
    position: inherit;
    padding: 20px 0;
  }
}
/* line 1128, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .text-column .title {
  font-size: 35px;
  line-height: 35px;
  font-family: 'Conv_FaktPro-Bold';
}
/* line 1132, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .text-column .title span {
  font-family: 'Conv_FaktPro-Blond';
  display: block;
}
/* line 1137, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .text-column .desc {
  margin: 50px 0;
}
@media screen and (max-width: 991px) {
  /* line 1137, ../sass/print.scss */
  #wrapper #content-wrapper .our-approach-wrapper .approach-columns .text-column .desc {
    margin: 20px 0;
  }
}
/* line 1144, ../sass/print.scss */
#wrapper #content-wrapper .our-approach-wrapper .approach-columns .shadow {
  position: absolute;
  right: 0;
  bottom: -140px;
}
/* line 1152, ../sass/print.scss */
#wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy {
  text-align: center;
  text-align: center;
  margin: 100px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #dfddd3;
  padding: 50px 10px;
}
@media screen and (max-width: 991px) {
  /* line 1152, ../sass/print.scss */
  #wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy {
    margin: 0 0 20px;
  }
}
/* line 1162, ../sass/print.scss */
#wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy .title {
  font-size: 35px;
  line-height: 35px;
  font-family: 'Conv_FaktPro-Bold';
}
/* line 1167, ../sass/print.scss */
#wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy .desc {
  margin: 35px 0;
  font-size: 20px;
}
@media screen and (max-width: 991px) {
  /* line 1167, ../sass/print.scss */
  #wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy .desc {
    font-size: 14px;
  }
}
/* line 1174, ../sass/print.scss */
#wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy .btn {
  display: inline-block;
}
/* line 1176, ../sass/print.scss */
#wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy .btn a {
  color: #d6d2bd;
  border: 1px solid #d6d2bd;
  padding: 8px 20px;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 25px;
}
/* line 1184, ../sass/print.scss */
#wrapper #content-wrapper .our-philosophy-wrapper .our-philosophy .btn a:hover {
  background: #d6d2bd;
  color: #fff;
}
/* line 1192, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy {
  padding: 100px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f8+0,ffffff+49,ffffff+52,ffffff+100 */
  background: #f7f7f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f8 0%, #ffffff 49%, #ffffff 52%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7f7f8 0%, #ffffff 49%, #ffffff 52%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7f7f8 0%, #ffffff 49%, #ffffff 52%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f8', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 1201, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks {
  position: relative;
  text-align: center;
  height: 100%;
}
/* line 1205, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks a {
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  /* line 1205, ../sass/print.scss */
  #wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks a {
    margin-bottom: 50px;
  }
}
/* line 1214, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks a .img img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
/* line 1220, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks a .title {
  color: #000;
  text-transform: uppercase;
  padding: 20px;
  background: #fff;
  text-align: left;
  border-radius: 10px;
}
/* line 1227, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks a .title .border {
  display: block;
}
/* line 1232, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks .shadow {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
}
/* line 1237, ../sass/print.scss */
#wrapper #content-wrapper .gallery-philosophy .gallery-column .gallery-blocks .shadow img {
  width: 100%;
  object-fit: cover;
  height: 433px;
}
/* line 1246, ../sass/print.scss */
#wrapper #content-wrapper .about-section {
  margin-bottom: 100px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 44%, #ffffff 44%, #ffffff 44%, #f8f8fa 45%, #f8f8fa 80%, #f8f8fa 80%, #f8f8fa 85%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 44%, #ffffff 44%, #ffffff 44%, #f8f8fa 45%, #f8f8fa 80%, #f8f8fa 80%, #f8f8fa 85%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 44%, #ffffff 44%, #ffffff 44%, #f8f8fa 45%, #f8f8fa 80%, #f8f8fa 80%, #f8f8fa 85%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #f8f8fa 90%, #ffffff 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 1253, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column {
  position: relative;
  padding: 100px 0;
}
/* line 1256, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .img {
  position: relative;
}
/* line 1258, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .img img {
  object-fit: cover;
  height: 590px;
}
/* line 1262, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .img .overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 1270, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* line 1277, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .click {
  position: relative;
  z-index: 9;
  display: inline-block;
}
/* line 1281, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .click img {
  width: 100px;
}
/* line 1285, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap {
  position: relative;
  color: #fff;
  margin-top: -100px;
}
@media screen and (max-width: 991px) {
  /* line 1285, ../sass/print.scss */
  #wrapper #content-wrapper .about-section .about-column .text .col-text-wrap {
    margin-top: 0;
  }
}
/* line 1292, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text {
  z-index: 9;
  position: absolute;
  display: inline-block;
  text-align: left;
  left: 58%;
  width: 350px;
}
@media screen and (max-width: 991px) {
  /* line 1292, ../sass/print.scss */
  #wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text {
    width: 100%;
    left: 0;
    padding: 10px;
  }
}
/* line 1304, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .title {
  text-transform: uppercase;
  font-size: 40px;
}
@media screen and (max-width: 991px) {
  /* line 1304, ../sass/print.scss */
  #wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .title {
    font-size: 20px;
  }
}
/* line 1310, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .title span {
  font-family: 'Conv_FaktPro-Bold';
  display: block;
}
/* line 1315, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .desc {
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  /* line 1315, ../sass/print.scss */
  #wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .desc {
    font-size: 14px;
  }
}
/* line 1321, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .more {
  text-transform: uppercase;
  margin-top: 20px;
}
/* line 1324, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .more a {
  display: inline-block;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 25px;
  text-decoration: none;
}
/* line 1331, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column .text .col-text-wrap .col-text .more a:hover {
  background: #fff;
  color: #000;
}
/* line 1341, ../sass/print.scss */
#wrapper #content-wrapper .about-section .border-gap {
  background: #cbc9bc;
  text-align: center;
  width: 80%;
  height: 2px;
  margin: 0 auto;
}
/* line 1347, ../sass/print.scss */
#wrapper #content-wrapper .about-section .border-gap .border {
  display: inline-block;
}
/* line 1351, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two {
  margin-bottom: 50px;
}
/* line 1353, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .title {
  text-align: center;
  text-transform: uppercase;
  color: #cbc9bc;
  font-size: 40px;
  padding: 80px 0 20px;
}
/* line 1360, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .desc {
  text-align: center;
  margin-bottom: 100px;
  font-size: 16px;
}
/* line 1365, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two a {
  display: inline-block;
}
/* line 1368, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two a:hover .hover-col {
  display: block !important;
}
/* line 1373, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper {
  position: relative;
}
/* line 1375, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img {
  position: relative;
}
/* line 1377, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img img {
  object-fit: cover;
  height: 445px;
}
/* line 1381, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img .hover-col {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #545456;
  overflow: hidden;
}
/* line 1392, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img .hover-col .hover-col-col {
  display: flex;
  align-items: left;
  justify-content: center;
  height: 150%;
  flex-direction: column;
  padding: 0 30px;
  width: 80%;
}
/* line 1400, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img .hover-col .hover-col-col .titlex {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: 'Conv_FaktPro-Bold';
}
/* line 1407, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img .hover-col .hover-col-col .desc {
  color: #545456;
  font-size: 16px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
/* line 1416, ../sass/print.scss */
#wrapper #content-wrapper .about-section .about-column-two .column-products-wrapper .img .hover-col .hover-col-col .border {
  border: 1px solid #545456;
  width: 50%;
}
/* line 1427, ../sass/print.scss */
#wrapper #content-wrapper .experience-section {
  position: relative;
}
/* line 1429, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .overlay {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 1437, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .bg-img img {
  object-fit: cover;
  height: 575px;
  width: 100%;
}
/* line 1443, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .text-column {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 1;
  color: #545456;
  text-align: center;
}
/* line 1451, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .text-column .title {
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
  margin-bottom: 50px;
}
/* line 1457, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .text-column .desc {
  font-size: 16px;
  width: 60%;
  margin: auto;
}
/* line 1462, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .text-column .arrow-bottom {
  height: 200px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  /* line 1462, ../sass/print.scss */
  #wrapper #content-wrapper .experience-section .text-column .arrow-bottom {
    height: 50px;
  }
}
/* line 1469, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .text-column .arrow-bottom .bottom {
  margin-top: auto;
}
/* line 1471, ../sass/print.scss */
#wrapper #content-wrapper .experience-section .text-column .arrow-bottom .bottom i {
  font-size: 20px;
  height: 30px;
  width: 30px;
  border: 1px solid #545456;
  border-radius: 50%;
  line-height: 30px;
}
/* line 1484, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one {
  position: relative;
  overflow: hidden;
}
/* line 1488, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .img-left img {
  object-fit: cover;
  height: 600px;
  width: 65%;
}
/* line 1494, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper {
  position: absolute;
  right: 0;
  top: 30%;
  width: 50%;
  background: rgba(255, 255, 255, 0.99);
  padding: 100px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  /* line 1494, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-one .column-box-wrapper {
    padding: 30px;
  }
}
/* line 1506, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .step {
  text-transform: capitalize;
  font-size: 17px;
  width: 63%;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  /* line 1506, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .step {
    width: 100%;
  }
}
/* line 1514, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .step span {
  font-family: 'Conv_FaktPro-Bold';
  display: block;
}
/* line 1519, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .desc {
  width: 65%;
}
@media screen and (max-width: 991px) {
  /* line 1519, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .desc {
    width: 100%;
  }
}
/* line 1524, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .desc .more {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  /* line 1524, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .desc .more {
    width: 100%;
    font-size: 12px;
  }
}
/* line 1535, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .desc .more a {
  margin-top: auto;
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #d7d2be;
  color: #d7d2be;
  text-decoration: none;
  border-radius: 25px;
}
/* line 1543, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-one .column-box-wrapper .column-box .desc .more a:hover {
  color: #fff;
  background: #d7d2be;
}
/* line 1553, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}
/* line 1558, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .img-right img {
  object-fit: cover;
  height: 600px;
  width: 60%;
  float: right;
}
/* line 1565, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper {
  position: absolute;
  left: 15%;
  top: 30%;
  width: 50%;
  background: rgba(255, 255, 255, 0.99);
  padding: 100px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  /* line 1565, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-two .column-box-wrapper {
    padding: 25px 0;
  }
}
/* line 1577, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .step {
  text-transform: capitalize;
  font-size: 17px;
  width: 63%;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  /* line 1577, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .step {
    width: 100%;
  }
}
/* line 1585, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .step span {
  font-family: 'Conv_FaktPro-Bold';
  display: block;
}
/* line 1590, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .desc {
  width: 65%;
}
/* line 1592, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .desc .more {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  /* line 1592, ../sass/print.scss */
  #wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .desc .more {
    width: 100%;
    font-size: 12px;
  }
}
/* line 1603, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .desc .more a {
  margin-top: auto;
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #d7d2be;
  color: #d7d2be;
  text-decoration: none;
  border-radius: 25px;
}
/* line 1611, ../sass/print.scss */
#wrapper #content-wrapper .experience-column .column-two .column-box-wrapper .column-box .desc .more a:hover {
  color: #fff;
  background: #d7d2be;
}
/* line 1622, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper {
  padding: 50px 0;
}
/* line 1624, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row {
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 1628, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a {
  color: #fff;
  text-decoration: none;
  display: block;
}
@media screen and (max-width: 991px) {
  /* line 1628, ../sass/print.scss */
  #wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a {
    margin-bottom: 20px;
  }
}
/* line 1636, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a:hover .overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
/* line 1640, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .img {
  position: relative;
}
/* line 1642, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .img img {
  object-fit: cover;
  height: 355px;
  width: 100%;
}
/* line 1647, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .img .overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 1657, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .text-column {
  position: absolute;
  top: 0;
  display: flex;
  left: 50px;
  align-items: left;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
/* line 1666, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .text-column .border {
  background: #fff;
  width: 20%;
  margin-top: 30px;
  height: 1px;
}
/* line 1672, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .text-column .title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
  width: 60%;
  line-height: 35px;
}
/* line 1679, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-left a .text-column .subtitle {
  font-family: 'Conv_FaktPro-Blond';
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 20px;
}
/* line 1689, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 1694, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a:hover .overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
/* line 1698, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .img {
  position: relative;
}
/* line 1700, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .img img {
  object-fit: cover;
  height: 355px;
  width: 100%;
}
/* line 1705, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .img .overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 1715, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .text-column {
  position: absolute;
  top: 0;
  display: flex;
  left: 50px;
  align-items: left;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
/* line 1724, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .text-column .title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
  width: 60%;
  line-height: 35px;
}
/* line 1731, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .text-column .border {
  background: #fff;
  width: 20%;
  margin-top: 30px;
  height: 1px;
}
/* line 1737, ../sass/print.scss */
#wrapper #content-wrapper .collections-column-wrapper .collections-row .collections-right a .text-column .subtitle {
  font-family: 'Conv_FaktPro-Blond';
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 20px;
}
/* line 1748, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper {
  position: relative;
}
/* line 1752, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .bg-img-slides .bg-img img {
  object-fit: cover;
  height: 810px;
  width: 100%;
}
/* line 1757, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .bg-img-slides .bg-img .overlay {
  background: url(../img/overlay-knob.png) no-repeat right;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 1766, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider {
  position: absolute;
  top: 40%;
  width: 40%;
  right: 10%;
  color: #fff;
}
@media screen and (max-width: 991px) {
  /* line 1766, ../sass/print.scss */
  #wrapper #content-wrapper .knob-wrapper .content-column-slider {
    width: 100%;
    right: 0;
    padding: 10px;
  }
}
/* line 1777, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider .content-column {
  min-height: 400px;
  position: relative;
}
/* line 1780, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider .content-column .title {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Conv_FaktPro-Bold';
  line-height: 35px;
  margin-bottom: 20px;
}
/* line 1787, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider .content-column .desc {
  font-size: 16px;
  margin: 50px 0;
}
/* line 1791, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider .content-column .author {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 1798, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider .prev {
  position: absolute;
  left: 0;
  top: 70%;
  font-size: 40px;
  cursor: pointer;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  /* line 1798, ../sass/print.scss */
  #wrapper #content-wrapper .knob-wrapper .content-column-slider .prev {
    top: 100%;
  }
}
/* line 1809, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper .content-column-slider .next {
  position: absolute;
  left: 10%;
  top: 70%;
  font-size: 40px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  /* line 1809, ../sass/print.scss */
  #wrapper #content-wrapper .knob-wrapper .content-column-slider .next {
    top: 100%;
  }
}
/* line 1822, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 {
  position: relative;
}
/* line 1826, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .bg-img-slides .bg-img img {
  object-fit: cover;
  height: 810px;
  width: 100%;
}
/* line 1831, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .bg-img-slides .bg-img .overlay {
  background: url(../img/overlay-knob.png) no-repeat right;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}
/* line 1840, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider {
  position: absolute;
  top: 40%;
  width: 26%;
  left: 10%;
  color: #fff;
  text-align: right;
}
@media screen and (max-width: 991px) {
  /* line 1840, ../sass/print.scss */
  #wrapper #content-wrapper .knob-wrapper2 .content-column-slider {
    width: 100%;
    padding: 10px;
    left: 0;
  }
}
/* line 1852, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider .content-column {
  min-height: 400px;
  position: relative;
}
/* line 1855, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider .content-column .title {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Conv_FaktPro-Bold';
  line-height: 35px;
  margin-bottom: 20px;
}
/* line 1862, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider .content-column .desc {
  font-size: 16px;
}
/* line 1865, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider .content-column .author {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
  right: 0;
}
/* line 1873, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider .prev {
  position: absolute;
  right: 10%;
  top: 70%;
  font-size: 40px;
  cursor: pointer;
  z-index: 1;
}
/* line 1881, ../sass/print.scss */
#wrapper #content-wrapper .knob-wrapper2 .content-column-slider .next {
  position: absolute;
  right: 0%;
  top: 70%;
  font-size: 40px;
  cursor: pointer;
}
/* line 1890, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper {
  background: #fbfbfb;
  padding: 50px 0;
}
/* line 1893, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper .promise-column {
  position: relative;
}
/* line 1897, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper .promise-column .promise-col-right .title {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Conv_FaktPro-Bold';
}
/* line 1902, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper .promise-column .promise-col-right .desc {
  margin: 20px 0;
  font-size: 16px;
}
/* line 1906, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper .promise-column .promise-col-right .btn {
  text-transform: uppercase;
}
/* line 1908, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper .promise-column .promise-col-right .btn a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #dcd8c6;
  padding: 5px 20px;
  border-radius: 25px;
  color: #000;
}
/* line 1915, ../sass/print.scss */
#wrapper #content-wrapper .promise-wrapper .promise-column .promise-col-right .btn a:hover {
  background: #dcd8c6;
  color: #fff;
}
/* line 1924, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper {
  padding: 50px 0;
}
/* line 1926, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-text-column {
  padding: 50px 0 80px;
}
/* line 1929, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-text-column .text-left .title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
}
/* line 1936, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-text-column .text-right .desc {
  text-align: left;
}
/* line 1941, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row {
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 1945, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 1950, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a:hover .overlay {
  background: rgba(255, 255, 255, 0.5) !important;
}
/* line 1953, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a:hover .text-column {
  display: block;
}
/* line 1957, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a .img {
  position: relative;
}
/* line 1959, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a .img img {
  object-fit: cover;
  height: 355px;
  width: 100%;
}
/* line 1964, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a .img .overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 1974, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a .text-column {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  height: 100%;
}
/* line 1982, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-left a .text-column .arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
/* line 1993, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a {
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 1998, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a:hover .overlay {
  background: rgba(255, 255, 255, 0.5) !important;
}
/* line 2001, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a:hover .text-column {
  display: block;
}
/* line 2005, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a .img {
  position: relative;
}
/* line 2007, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a .img img {
  object-fit: cover;
  height: 355px;
  width: 100%;
}
/* line 2012, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a .img .overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 2022, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a .text-column {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  height: 100%;
}
/* line 2030, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .collections-row .collections-right a .text-column .arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
/* line 2042, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider {
  margin-top: 50px;
}
/* line 2044, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .border {
  border-top: 1px solid #cbc8b9;
  height: 1px;
  width: 900px;
  margin: auto;
  padding: 30px;
}
@media screen and (max-width: 991px) {
  /* line 2044, ../sass/print.scss */
  #wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .border {
    width: 100%;
  }
}
/* line 2054, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .border2 {
  border-top: 1px solid #cbc8b9;
  height: 1px;
  width: 900px;
  margin: auto;
}
@media screen and (max-width: 991px) {
  /* line 2054, ../sass/print.scss */
  #wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .border2 {
    width: 100%;
  }
}
/* line 2063, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block {
  margin-bottom: 50px;
}
/* line 2065, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-left {
  text-align: center;
}
/* line 2067, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-left .img {
  display: inline-block;
  padding-left: 20%;
}
@media screen and (max-width: 991px) {
  /* line 2067, ../sass/print.scss */
  #wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-left .img {
    padding-left: 0;
  }
}
/* line 2076, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
}
/* line 2082, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .slide-list ul {
  padding: 0;
  margin: 0;
}
/* line 2085, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .slide-list ul li {
  list-style: none;
  display: inline-block;
  margin: 20px 20px 20px 0;
}
/* line 2089, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .slide-list ul li button {
  text-transform: uppercase;
  background: none;
  outline: none;
  background: #cbc8b9;
  border: 1px solid #cbc8b9;
  padding: 5px 20px;
  color: #fff;
  border-radius: 25px;
}
/* line 2099, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .slide-list ul li .slick-disabled {
  color: #000;
  background: none;
}
/* line 2106, ../sass/print.scss */
#wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .desc {
  padding-right: 10%;
}
@media screen and (max-width: 991px) {
  /* line 2106, ../sass/print.scss */
  #wrapper #content-wrapper .kitchen-collections-column-wrapper .cabinet-wrapper .cabinet-slider .cabinet-block .cabinet-right .desc {
    padding-right: 0;
  }
}
/* line 2117, ../sass/print.scss */
#wrapper #content-wrapper .innovation-wrapper {
  padding: 100px 0;
  background: #f7f7f8;
}
/* line 2120, ../sass/print.scss */
#wrapper #content-wrapper .innovation-wrapper .columns-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}
/* line 2128, ../sass/print.scss */
#wrapper #content-wrapper .innovation-wrapper .columns-blocks .columns-left .title {
  text-transform: uppercase;
  font-family: 'Conv_FaktPro-Bold';
  font-size: 35px;
  padding: 0 22%;
}
@media screen and (max-width: 991px) {
  /* line 2128, ../sass/print.scss */
  #wrapper #content-wrapper .innovation-wrapper .columns-blocks .columns-left .title {
    padding: 0;
  }
}
/* line 2139, ../sass/print.scss */
#wrapper #content-wrapper .innovation-wrapper .columns-blocks .columns-right .desc {
  font-size: 20px;
}
/* line 2145, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns {
  position: relative;
  margin-top: -55px;
  padding-bottom: 50px;
}
/* line 2149, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-one {
  position: relative;
  overflow: hidden;
}
/* line 2153, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-one .img-left img {
  object-fit: cover;
  height: 430px;
  width: 65%;
}
@media screen and (max-width: 991px) {
  /* line 2153, ../sass/print.scss */
  #wrapper #content-wrapper .innovation-columns .column-one .img-left img {
    width: 100%;
  }
}
/* line 2162, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-one .column-box-wrapper {
  position: absolute;
  right: 0;
  top: 30%;
  width: 50%;
  background: rgba(255, 255, 255, 0.99);
  padding: 100px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  /* line 2162, ../sass/print.scss */
  #wrapper #content-wrapper .innovation-columns .column-one .column-box-wrapper {
    position: inherit;
    width: 100%;
    padding: 20px;
  }
}
/* line 2175, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-one .column-box-wrapper .title {
  font-size: 24px;
  font-family: 'Conv_FaktPro-Bold';
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 2183, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-two {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}
/* line 2188, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-two .img-right img {
  object-fit: cover;
  height: 430px;
  width: 65%;
  float: right;
}
@media screen and (max-width: 991px) {
  /* line 2188, ../sass/print.scss */
  #wrapper #content-wrapper .innovation-columns .column-two .img-right img {
    width: 100%;
    float: none;
  }
}
/* line 2199, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-two .column-box-wrapper {
  position: absolute;
  left: 0;
  top: 30%;
  width: 50%;
  background: rgba(255, 255, 255, 0.99);
  padding: 100px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  /* line 2199, ../sass/print.scss */
  #wrapper #content-wrapper .innovation-columns .column-two .column-box-wrapper {
    position: inherit;
    width: 100%;
    padding: 20px;
  }
}
/* line 2212, ../sass/print.scss */
#wrapper #content-wrapper .innovation-columns .column-two .column-box-wrapper .title {
  font-size: 24px;
  font-family: 'Conv_FaktPro-Bold';
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 2221, ../sass/print.scss */
#wrapper #content-wrapper .before-footer {
  position: relative;
}
/* line 2224, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .bg-before-footer img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  /* line 2224, ../sass/print.scss */
  #wrapper #content-wrapper .before-footer .bg-before-footer img {
    height: 400px;
  }
}
/* line 2233, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .border-white {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
/* line 2238, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .border-white .border {
  background: #fff;
  height: 1px;
  width: 100%;
}
/* line 2244, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .text-column {
  position: absolute;
  top: 10%;
  right: 0;
  width: 50%;
  z-index: 1;
  color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  /* line 2244, ../sass/print.scss */
  #wrapper #content-wrapper .before-footer .text-column {
    width: 93%;
  }
}
/* line 2255, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .text-column .title {
  font-size: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  /* line 2255, ../sass/print.scss */
  #wrapper #content-wrapper .before-footer .text-column .title {
    font-size: 30px;
  }
}
/* line 2263, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .text-column .btn-book a {
  display: inline-block;
  border: 1px solid #e68e82;
  border-radius: 25px;
  padding: 5px 20px;
  color: #e68e82;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 2271, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .text-column .btn-book a:hover {
  background: #e68e82;
  color: #000;
}
/* line 2275, ../sass/print.scss */
#wrapper #content-wrapper .before-footer .text-column .btn-book a span {
  float: right;
  margin-left: 10px;
}
/* line 2283, ../sass/print.scss */
#wrapper #content-wrapper #footer {
  background: #232323;
  color: #cac7b4;
}
/* line 2286, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper {
  padding: 50px 0;
}
/* line 2288, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column-two {
  border-top: 1px solid #cac7b4;
  padding-top: 50px;
  margin-top: 50px;
  font-size: 14px;
  margin-right: 15px;
  margin-left: 15px;
}
/* line 2297, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column-two .footer-left .text span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 2306, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column-two .footer-right .call-column .call-column-block {
  margin-bottom: 10px;
}
/* line 2308, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column-two .footer-right .call-column .call-column-block .col-left {
  float: left;
  width: 150px;
}
/* line 2312, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column-two .footer-right .call-column .call-column-block .cal-right {
  float: left;
}
/* line 2320, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 2324, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .form-subscriber {
  margin: 45px 0 20px;
}
/* line 2326, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .form-subscriber #subscribe {
  position: relative;
}
/* line 2328, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .form-subscriber #subscribe input {
  width: 100%;
  border-radius: 25px;
  padding: 5px 10px;
  border: none;
}
/* line 2334, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .form-subscriber #subscribe button {
  position: absolute;
  right: 10px;
  top: 5px;
  background: none;
  border: none;
}
/* line 2344, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .social-media-bottom ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 2348, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .social-media-bottom ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 15px;
}
/* line 2353, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .social-media-bottom ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 2356, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .social-media-bottom ul li a:hover {
  color: #cac7b4;
}
/* line 2364, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .menu-list ul {
  padding: 0;
  margin: 0;
}
/* line 2367, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .menu-list ul li {
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 10px;
}
/* line 2371, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .menu-list ul li a {
  color: #cac7b4;
  text-decoration: none;
}
/* line 2374, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .menu-list ul li a:hover {
  color: #fff;
}
/* line 2382, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-wrapper .footer-column .second .title {
  margin-top: 40px;
  margin-bottom: 10px;
}
/* line 2389, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-bottom {
  background: #2b2b2b;
  padding: 20px 0;
}
/* line 2393, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-bottom .footer-bottom-menus ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 2397, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-bottom .footer-bottom-menus ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  margin-right: 50px;
}
@media screen and (max-width: 991px) {
  /* line 2397, ../sass/print.scss */
  #wrapper #content-wrapper #footer .footer-bottom .footer-bottom-menus ul li {
    margin-right: 10px;
  }
}
/* line 2405, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-bottom .footer-bottom-menus ul li a {
  text-decoration: none;
  color: #fff;
}
/* line 2408, ../sass/print.scss */
#wrapper #content-wrapper #footer .footer-bottom .footer-bottom-menus ul li a:hover {
  color: #cac7b4;
}
